body{
  margin: 5em;
}

header{
  border-bottom: solid;

}

ul{  
  padding: 0;
  list-style-type: None;
}

li{
  margin-right: 2em;
  margin-top: 1em;
}

main{
  padding-top: 2em;
  border-bottom: solid;
}

h1{
  border-bottom: solid;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
  color: gray;
  font-style: italic;

}




